<div *ngIf="isLoading">Loading departments...</div>
<mat-table *ngIf="!isLoading" [dataSource]="dataSource" [@tableFadeIn]>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let department" data-label="ID"> {{department.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let department" data-label="Name"> {{department.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="companyId">
    <mat-header-cell *matHeaderCellDef> Company ID </mat-header-cell>
    <mat-cell *matCellDef="let department" data-label="Company ID"> {{department.companyId}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="employees">
    <mat-header-cell *matHeaderCellDef> Employees </mat-header-cell>
    <mat-cell *matCellDef="let department" data-label="Employees"> {{department.employees.join(', ')}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let department" data-label="Actions">
      <button mat-button [routerLink]="['/departments/edit', department.id]">Edit</button>
      <button mat-button (click)="delete(department.id)">Delete</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" appHighlightRow></mat-row>
</mat-table>
<div *ngIf="!isLoading && !dataSource.data.length">No departments found.</div>
<button *ngIf="!isLoading" mat-raised-button [routerLink]="['/departments/create']">Add Department</button>
