<div *ngIf="isLoading">Loading employees...</div>
<mat-table *ngIf="!isLoading" [dataSource]="dataSource" [@tableFadeIn]>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let employee" data-label="ID"> {{employee.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
    <mat-cell *matCellDef="let employee" data-label="First Name"> {{employee.firstName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let employee" data-label="Last Name"> {{employee.lastName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let employee" data-label="Email"> {{employee.email}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="companyName">
    <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
    <mat-cell *matCellDef="let employee" data-label="Company Name"> {{employee.companyName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="departmentName">
    <mat-header-cell *matHeaderCellDef> Department Name </mat-header-cell>
    <mat-cell *matCellDef="let employee" data-label="Department Name"> {{employee.departmentName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let employee" data-label="Actions">
      <button mat-button [routerLink]="['/employees/edit', employee.id]">Edit</button>
      <button mat-button (click)="delete(employee.id)">Delete</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" appHighlightRow></mat-row>
</mat-table>
<div *ngIf="!isLoading && !dataSource.data.length">No employees found.</div>
<button *ngIf="!isLoading" mat-raised-button [routerLink]="['/employees/create']">Add Employee</button>
