<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Enter company name">
    <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" placeholder="Enter location">
    <mat-error *ngIf="form.get('location')?.hasError('required')">Location is required</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Departments</mat-label>
    <mat-select multiple formControlName="departments">
      <mat-option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ isEdit ? 'Update' : 'Create' }} Company</button>
</form>
